/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://heroui.com/docs/react/getting-started/theming
 * https://heroui.com/themes?hue=20.65888714218184&chroma=0.21719084500659672&lightness=0.6166879544458042&base=0&formRadius=medium
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
	/* Theme Colors (Light Mode) */
	--accent: oklch(61.67% 0.2172 20.66);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(97.02% 0 20.66);
	--border: oklch(90% 0 20.66);
	--danger: oklch(65.32% 0.2328 357.76);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(94% 0 20.66);
	--default-foreground: oklch(21.03% 0.0059 20.66);
	--field-background: oklch(100% 0 20.66);
	--field-foreground: oklch(21.03% 0 20.66);
	--field-placeholder: oklch(55.17% 0 20.66);
	--focus: oklch(61.67% 0.2172 20.66);
	--foreground: oklch(21.03% 0 20.66);
	--muted: oklch(55.17% 0 20.66);
	--overlay: oklch(100% 0 20.66);
	--overlay-foreground: oklch(21.03% 0 20.66);
	--scrollbar: oklch(87.1% 0 20.66);
	--segment: oklch(100% 0 20.66);
	--segment-foreground: oklch(21.03% 0 20.66);
	--separator: oklch(92% 0 20.66);
	--success: oklch(73.29% 0.1935 122.83);
	--success-foreground: oklch(21.03% 0.0059 122.83);
	--surface: oklch(100% 0 20.66);
	--surface-foreground: oklch(21.03% 0 20.66);
	--surface-secondary: oklch(95.24% 0 20.66);
	--surface-secondary-foreground: oklch(21.03% 0 20.66);
	--surface-tertiary: oklch(93.73% 0 20.66);
	--surface-tertiary-foreground: oklch(21.03% 0 20.66);
	--warning: oklch(78.19% 0.1585 44.35);
	--warning-foreground: oklch(21.03% 0.0059 44.35);

	/* Border Radius */
	--radius: 0.5rem;
	--field-radius: 0.5rem;

	/* Font Family */
	/* Make sure to load Inter font in your app */
	--font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
	color-scheme: dark;
	/* Theme Colors (Dark Mode) */
	--accent: oklch(61.67% 0.2172 20.66);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(12% 0 20.66);
	--border: oklch(28% 0 20.66);
	--danger: oklch(59.4% 0.1967 356.65);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(27.4% 0 20.66);
	--default-foreground: oklch(99.11% 0 0);
	--field-background: oklch(21.03% 0 20.66);
	--field-foreground: oklch(99.11% 0 20.66);
	--field-placeholder: oklch(70.5% 0 20.66);
	--focus: oklch(61.67% 0.2172 20.66);
	--foreground: oklch(99.11% 0 20.66);
	--muted: oklch(70.5% 0 20.66);
	--overlay: oklch(21.03% 0 20.66);
	--overlay-foreground: oklch(99.11% 0 20.66);
	--scrollbar: oklch(70.5% 0 20.66);
	--segment: oklch(39.64% 0 20.66);
	--segment-foreground: oklch(99.11% 0 20.66);
	--separator: oklch(25% 0 20.66);
	--success: oklch(73.29% 0.1935 122.83);
	--success-foreground: oklch(21.03% 0.0059 122.83);
	--surface: oklch(21.03% 0 20.66);
	--surface-foreground: oklch(99.11% 0 20.66);
	--surface-secondary: oklch(25.7% 0 20.66);
	--surface-secondary-foreground: oklch(99.11% 0 20.66);
	--surface-tertiary: oklch(27.21% 0 20.66);
	--surface-tertiary-foreground: oklch(99.11% 0 20.66);
	--warning: oklch(82.03% 0.1388 48.36);
	--warning-foreground: oklch(21.03% 0.0059 48.36);
}
